
  .circle{
    margin: 0 auto;
    @media screen and (max-width: $break-mid){
            margin: 30% 0 0 17%;
    }
    @media screen and (max-width: $break-small){
            margin: 7% 0 0 38%;
    }
  }
