.winrate{
  margin: 0 10px 30px;
  padding: 10px 30px 30px;
  .circle{
    margin: 15% 0 0 30%;
    @media screen and (max-width: $break-mid){
            margin: 30% 0 0 17%;
    }
    @media screen and (max-width: $break-small){
            margin: 7% 0 0 38%;
    }
  }

}
