


.history {
	@extend %extend_1;
	h2{
		padding-bottom: 6%;
	}
	#games, #games-extra, #games-time{
		display: inline-block;
	}
	ul {
		list-style: none;
		li{
			font-size: 1.6em;
			position: relative;
			margin: 15px 0 0;
			color: $color_grey;
			&:nth-last-of-type(1n+7){
				display: none;
			}
		}
		&.bulleted {
			margin-bottom: 20px;
			li {
				&.cols{
					padding-left: 2px;
				}
				&:before {
					margin-left: -40px;
					font-size: .5em;
					position: absolute;
					top: 0;
					left: 0;
					width: 25px;
					padding: 3px 2px 2px;
					text-align: center;
					color: $white;
					border-radius: 2px;
				}
			}
			.won {
				color: $color_dark_grey;
				&:before {
					content: 'Won';
					background-color: $color_win;
				}
			}
			.lost {
				color: $color_grey;
				&:before {
					content: 'Lost';
					background-color: $color_loss;
				}
			}
		}
	}
}
