//colors

$color_bg: #253033;
$white: white;
$black_10: rgba(0, 0, 0, .1);
$color_dark_grey: #333;
$color_grey: #8d9aa5;
$color_win: #37AB7F;
$color_loss: #89C9AE;

//font
$font:'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;

//media queries
$break-large:1090px;
$break-mid: 960px;
$break-small: 793px;
$break-xsmall: 533px;
$break-mobile: 420px;



//Main layout
body {
	font-family: $font;
	font-size: 62.5%;
	padding: 50px 0 0;
	background: $color_bg;
	h1 {
		margin: 0;
			font-size: 3.5em;
			font-weight: 100;
			color: #89C9AE;
			padding-bottom: 4%;
			padding-left: 15px;
	}
	h2 {
		font-weight: 300;
		line-height: 1.2;
		color: $color_dark_grey;
		font-size: 1.8em;
	}
	p {
		font-size: 1.4em;
		line-height: 1.4;
		color: $color_grey;
	}
}

.heading {
	margin-bottom: 40px;
	margin: 0 auto;
}

.grid {
	width: 95%;
		section {
			display: block;
			padding: 5% 10%;
			border-radius: 5px;
			background: rgba(255,255,255, 0.9);
			box-shadow: 0 1px 0 0 $black_10;
		}
		.winrate {
	
			margin: 0 auto;
		}
	}




@import "_history.scss";
@import "_graph.scss";
@import "_avg_percentage.scss";
