body {
  font-family: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  background: #253033; }

h1 {
  margin: 0 0 3% 15px;
  font-size: 3.5em;
  font-weight: 100;
  color: #89C9AE;
  padding-bottom: 1%;
  border-bottom: 1px solid #db664e;
  display: inline-block; }
  @media screen and (max-width: 560px) {
    h1 {
      font-weight: 300; } }
  @media screen and (max-width: 450px) {
    h1 {
      font-size: 3em; } }

h2 {
  position: absolute;
  font-weight: 300;
  line-height: 1.2;
  color: #333;
  font-size: 1.8em;
  padding: 2% 0 0 5%; }

p {
  font-size: 1.4em;
  line-height: 1.4;
  color: #8d9aa5; }

.heading {
  margin: 2% 0; }
  @media screen and (max-width: 560px) {
    .heading {
      text-align: center;
      margin: 2% 20px 0 0; } }

.grid-container {
  padding-bottom: 10%; }

section {
  display: block;
  padding: 70px 10%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 767px) {
    section {
      padding: 70px 5% 15%; } }

@media screen and (max-width: 767px) {
  .grid-pad:nth-child(2) {
    padding-top: 0px; } }
.grid-pad:nth-child(2) .col-1-1 {
  margin-top: 0px; }

.winrate, .history {
  text-align: center;
  height: 340px;
  margin: 0 auto; }
  .winrate h2, .history h2 {
    text-align: left; }

.circle {
  display: inline-block;
  margin-top: 10%; }

.chart {
  padding: 140px 10% 10%; }
  @media screen and (max-width: 890px) {
    .chart {
      padding: 120px 6% 15%; } }
  @media screen and (max-width: 767px) {
    .chart {
      padding: 120px 5% 15%; } }

.history {
  text-align: center; }
  .history h2 {
    text-align: left; }
  .history > div {
    display: inline-block;
    text-align: left; }

@media screen and (max-width: 890px) {
  #games-time {
    display: none; } }
@media screen and (max-width: 767px) {
  #games-time {
    display: inline-block; } }
@media screen and (max-width: 560px) {
  #games-time {
    display: none; } }

@media screen and (max-width: 450px) {
  #games-extra {
    display: none; } }

ul {
  list-style: none; }
  ul.bulleted {
    margin-bottom: 20px; }
  ul li {
    font-size: 1.6em;
    font-weight: 300;
    position: relative;
    margin: 15px 0 0;
    color: #8d9aa5; }
    ul li:nth-last-of-type(1n+7) {
      display: none; }
    ul li.cols {
      padding-left: 2px; }
    ul li:before {
      margin-left: -40px;
      font-size: .5em;
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      padding: 3px 2px 2px;
      text-align: center;
      color: white;
      border-radius: 2px; }

.won {
  color: #333; }
  .won:before {
    content: 'Won';
    background-color: #5ab795; }

.lost {
  color: #8d9aa5; }
  .lost:before {
    content: 'Lost';
    background-color: #db664e; }

#wrapper {
  width: 70%;
  margin: 0 auto; }
  @media screen and (max-width: 560px) {
    #wrapper {
      width: 90%; } }

.chart h2 {
  padding-bottom: 4%; }

#graph {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  background: transparent;
  font-size: 11px; }
  #graph .columns {
    width: 40px;
    position: relative;
    z-index: 2; }
    @media screen and (max-width: 560px) {
      #graph .columns {
        width: 33px; } }
    @media screen and (max-width: 500px) {
      #graph .columns {
        width: 30px; } }
    @media screen and (max-width: 450px) {
      #graph .columns {
        width: 27px; } }

.bar {
  width: 90%; }
  .bar p {
    padding: 0 0 0 3px;
    opacity: 0.7;
    font-size: 0.85em;
    color: #333; }

.row {
  position: relative;
  bottom: -310px;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(317deg);
  -moz-transform: rotate(317deg);
  -o-transform: rotate(317deg);
  writing-mode: lr-tb; }
  @media screen and (max-width: 767px) {
    .row {
      right: 30%; } }

.loss {
  position: absolute;
  background-color: #db664e;
  border-color: transparent; }
  .loss:hover {
    background-color: #e89d8e; }

.win {
  position: absolute;
  background-color: #5ab795;
  border-color: transparent;
  bottom: 0; }
  .win:hover {
    background-color: #8fceb7; }

#ticks {
  position: relative;
  top: -300px;
  left: 2px;
  width: 70%;
  height: 300px;
  z-index: 1;
  margin: 0 auto -300px;
  font-size: 10px;
  font-family: fira-sans-2, Verdana, sans-serif; }
  @media screen and (max-width: 560px) {
    #ticks {
      display: none; } }

.tick {
  position: relative;
  border-bottom: 1px dotted #8d9aa5; }
  .tick:first-child {
    border-top: 1px dotted #8d9aa5; }
  .tick p {
    position: absolute;
    left: -5em;
    top: -0.8em;
    margin: 0 0 0 0.5em; }
    @media screen and (max-width: 650px) {
      .tick p {
        left: -4em;
        top: 0;
        font-size: .75rem; } }
    @media screen and (max-width: 560px) {
      .tick p {
        font-size: .75rem; } }

@media screen and (max-width: 650px) {
  #key {
    text-align: center; } }

.key {
  float: right;
  width: 50px;
  height: 30px;
  border: 0px;
  text-decoration: none; }
  @media screen and (max-width: 650px) {
    .key {
      float: none; } }
  .key p {
    padding: 10px 0 0 0;
    opacity: 0.7;
    color: #333; }

.desc-key {
  display: inline-block;
  margin: -230px 30px 0 0; }
  @media screen and (max-width: 650px) {
    .desc-key {
      margin: 0 auto; } }

.win-key {
  background-color: #5ab795;
  margin: -180px 30px 0 0; }
  .win-key:hover {
    background-color: #8fceb7; }
  @media screen and (max-width: 650px) {
    .win-key {
      margin: 90px 0 0;
      position: relative; } }

.loss-key {
  background-color: #db664e;
  margin: -120px 30px 0 0; }
  .loss-key:hover {
    background-color: #e89d8e; }
  @media screen and (max-width: 650px) {
    .loss-key {
      margin: 0; } }

@media screen and (max-width: 890px) {
  .key {
    margin-right: 1%; } }

/*# sourceMappingURL=main.css.map */
