//colors
$color_bg: #edeff0;
$white: white;
$black_10: rgba(0, 0, 0, .1);
$color_dark_grey: #333;
$color_grey: #8d9aa5;
$color_win: #5fcf80;
$color_loss: #ed5a5a;

//font
$font:'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;

//media queries
$break-large:1090px;
$break-mid: 960px;
$break-small: 650px;


//@extend-elements
%extend_1 {
	box-sizing: border-box;
	padding-right: 15px;
	padding-left: 15px;
}
%extend_3 {
	font-size: 2.4em;
	font-weight: 500;
	line-height: 1.2;
	// margin-bottom: 8px;
	color: $color_dark_grey;
}

//Main layout
body {
	font-family: $font;
	font-size: 62.5%;
	padding: 50px 0 0;
	background: $color_bg;
	h1 {
		margin: 0;
		@extend %extend_3;
			padding-bottom: 4%;

	}
	h2 {
		@extend %extend_3;
		font-size: 1.8em;
	}
	p {
		font-size: 1.4em;
		line-height: 1.4;
		color: $color_grey;

	}
}

.grid-container {
	position: relative;
	max-width: 1080px;
	margin: 0 auto;
	@extend %extend_1;

	.column {
		display: inline-block;
		position: relative;
		overflow: hidden;
		margin: 0 10px 30px;
		padding: 10px 30px 30px;
		border-radius: 5px;
		background: $white;
		box-shadow: 0 1px 0 0 $black_10;
			&.two-thirds{
				float: left;
				width: 48%;
				@media screen and (max-width: $break-mid){
					
				}
			}
			&.third{
				width: 36.5%;
				height: 303px;
				float: right;
				@media screen and (max-width: $break-large){
						width: 34.5%;
				}
				@media screen and (max-width: $break-mid){

				}
			}
			&.full{
				display: block;
				clear: both;
			}
		.heading {
			margin-bottom: 40px;
		}
		section {
			display: block;
		}
	}
}



@import "_history.scss";
@import "_graph.scss";
@import "_avg_percentage.scss"
