//colors
$color_bg: #edeff0;
$white: white;
$black_10: rgba(0, 0, 0, .1);
$color_dark_grey: #333;
$color_manatee: #8d9aa5;
$color_win: #5fcf80;
$color_loss: #ed5a5a;
$color_grey: #c4c4c4;


//@extend-elements
%extend_1 {
	box-sizing: border-box;
	padding-right: 15px;
	padding-left: 15px;
}
%extend_3 {
	font-size: 2.4em;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 8px;
	color: $color_dark_grey;
}

//Main layout
body {
	font-family: Varela Round, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	padding: 50px 0 0;
	background: $color_bg;
	h1 {
		margin: 0;
		@extend %extend_3;
	}
	h2 {
		@extend %extend_3;
		font-size: 1.8em;
	}
	p {
		font-size: 1.4em;
		line-height: 1.4;
		margin-bottom: 15px;
		color: $color_manatee;
	}
}


.grid-container {
	position: relative;
	max-width: 1080px;
	margin: 0 auto;
	.wrapper {
		@extend %extend_1;
		.contained {
			position: relative;
			overflow: hidden;
			margin-bottom: 30px;
			padding: 30px 30px;
			border-radius: 5px;
			background: $white;
			box-shadow: 0 1px 0 0 $black_10;
			.heading {
				margin-bottom: 20px;
			}
			section {
				display: block;
			}
		}
	}
}



@import "_history.scss";
@import "_graph.scss";
