#graph {
    height: 300px;
  /*border: 10px solid black;*/
  display: flex;
  justify-content: space-between;
}
#graph div {
  width: 70%;
  position: relative;
  padding: 0 2%;
  z-index: 2;

  /*background: red;*/
}
